@model WEB2020Apr_P06_T02.Models.RouteView
@{
    ViewData["Title"] = "View Route and Schedule";
}
<h4 class="PageTitle">View Route</h4>
<!-- Display a list of RouteID -->
<div class="table-responsive">
    <table id="viewBranch" class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Route ID</th>
                <th>Departure City</th>
                <th>Departure Country</th>
                <th>Arrival City</th>
                <th>Arrival Country</th>
                <th>Flight Duration</th>
                <th>View Schedule Details</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.frList)
            {
                string selectedRow = "";
                if (ViewData["selectedRouteID"].ToString()
                 == item.RouteId.ToString())
                {
                    // Highlight the selected row
                    selectedRow = "class='table-primary'";
                }
                <tr @Html.Raw(selectedRow)>
                    <td>@item.RouteId</td>
                    <td>@item.DepartureCity</td>
                    <td>@item.DepartureCountry</td>
                    <td>@item.ArrivalCity</td>
                    <td>@item.ArrivalCountry</td>
                    <td>@item.FlightDuration</td>
                    <td>
                        <a asp-action="Index" asp-controller="Route"
                           asp-route-id="@item.RouteId">View Schedule</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<!-- Display a list of Schedule ID for each RouteID -->
@if (ViewData["selectedRouteID"].ToString() != "")
{
    if (Model.fsList.Count != 0)
    {
        <h5>
            Flight Schedule in RouteID
            @ViewData["selectedRouteID"].ToString() :
        </h5>
        <partial name="~/Views/Route/_ViewSchedule.cshtml"
                 model="@Model" />
    }
    else
    {
        <h5>NO VIEW SCHEDULE!</h5>
    }
}
